<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style.
      .fade-enter-active,
      .fade-leave-active  {
        transition: 1s;
      }

      .fade-enter { 
        opacity: 0;
      }

      .fade-enter-to {
        opacity: 1
      }

      .fade-leave {
        transform: translateX(0%);
        opacity: 1;
      }

      .fade-leave-to {
        transform: translateX(20px);
        opacity: 0;
      }

  body
    #animation-root

    script(type="text/x-template")#animation
      div
        button(
          @click="currentComponent === 'compA' ? currentComponent = 'compB' : currentComponent = 'compA' "
        ) Показать
        pre {{currentComponent}}
        transition(name="fade")
          component(:is="currentComponent")
        //- transition(name="fade")
          .test-block(v-if="show") Тестовый блок

    script(type="text/x-template")#component-a
      h1 А

    script(type="text/x-template")#component-b
      h1 В

    script(src="bootloader.bundle.js")
    script(src="vendor.bundle.js")
    script(src="blog.bundle.js")