.slider {
  height: 100vh;
  min-height: 600px;
  background: #f0efe9;
  display: flex;
  flex-flow: column wrap;
}

.slider__info-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__display,
.slider__buttons {
  width: 50%;
}

.slider__display {
  height: 70%;
  background: #efebe0;
}

.slider__buttons {
  height: 30%;
  user-select: none;
}

.slider__info-title {
  margin-bottom: 40px;
}

.slider__info-skills {
  padding: 20px 0;
  border-top: 1px solid rgba($green, .3);
  border-bottom: 1px solid rgba($green, .3);
  text-align: center;
  color: $green;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 0;

  span {
    font-size: 14px;
    display: inline-block;
    
    &.whitespace {
      &:before {
        content: '\00a0';
      }
    }
  }
}

.slider__info-button {
  text-align: center;
}

.slider__display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__big-pic {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.slider__buttons {
  display: flex;
  overflow: hidden;
}

.slider__button {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  &_next {
    &:after {
      transform: rotate(180deg);
    }
  }
  &:hover {
    &:before {
      background: rgba(#888372, .5);
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#b6b4ae, .7);
    transition: .3s;
    z-index: 10;
  }
  &:after {
    content: "";
    background: svg-load('arrow_down.svg', fill=#ffffff) center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 30px;
    z-index: 20;
  }
}

.slider__button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider__button-img-wrap {
  height: 100%;
}

.slider__button-pic {
  display: block;
  max-width: 100%;
  max-height: 90%;
  margin: auto;
}

.slider__button-img-wrap {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 1s;
  animation-name: bounceIn;
}


.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 1s;
}

.slide-down-leave {
  bottom: 0;
}

.slide-down-leave-to {
  bottom: -100%;
}

.slide-down-enter {
  bottom: 100%;
}

.slide-down-enter-to {
  bottom: 0%;
}

.slide-up-enter {
  bottom: -100%;
}

.slide-up-enter-to {
  bottom: 0%;
}


.slide-up-leave {
  bottom: 0%;
}

.slide-up-leave-to {
  bottom: 100%;
}


